html {
    font-size: 16px;
    font-family: "Open Sans";
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 2em;
    border: 0.1em solid #ccc;
    border-radius: 1em;
    background: #f2f2f2;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, 
textarea {
    font: 1em "Open Sans";
    width: 350px;
    padding: 10px;
    border: 0.1em solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    vertical-align: top;
}



input:focus,
textarea:focus {
    border-color: #000;
}